.topnav {
  overflow: hidden;
  background-color: #ffffff;
  border-top: 1px solid #eaeaea;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  line-height: 0;
  z-index: 1;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.social {
  float: right;
  padding-right: 30px;
  display: block;
  margin-top: 80px;
}

a.contactme {
  font-weight: 900;
  color: #007aff;
}

.social a {
  font-size: 14px;
  padding-right: 35px;
  margin-top: 160px;
  margin-bottom: 40px;
  line-height: 2.5;
}

a.logo {
  font-weight: 900 !important;
  font-size: 20px !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
  padding-top: 20px;
}

.content {
  text-align: center;
  margin-top: 250px;
  padding: 8rem;
  padding-bottom: 30px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: Montserrat;
  margin-bottom: 30px;
}

h3 {
  line-height: 1.5;
  font-weight: 300;
}

h4 {
  font-weight: 900;
  font-size: 2rem;
  color: #666666;
  margin-bottom: 60px;
}

h5 {
  line-height: 1.5;
}

p {
  line-height: 2;
}

span.taglinelinks {
  text-decoration: underline;
}

.row {
  padding: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 60px;
}

.info {
  border-color: black;
  color: black;
  padding: 20px;
  border-radius: 0;
  font-weight: bold;
  text-transform: uppercase;
}

img.logos {
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: 100px;
}

.section {
  border-top: 1px solid #D8D8D8;
  padding-top: 80px;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 80px;
  margin-left: 30px;
  margin-right: 30px;
}

/*About Me*/
span.selected {
  border-bottom: 2px solid #2386fe;
  padding-bottom: 5px;
}

/*Inspirations*/
.inspi {
  line-height: 1;
}

p.inspi {
  color: #666;
  margin-bottom: 30px;
}

h4.inspirations {
  margin-bottom: 3px;
}

.innerpage {
  max-width: 800px;
  margin: auto;
}

.bonusfact {
  text-align: left;
  background: #efefef;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 60px;
}

/*blogpost styling*/
.titleblock {
  max-width: 800px;
  margin: auto;
  text-align: center;
  margin-top: 230px;
}

h4.black.articletitle {
  margin-bottom: 20px;
}

h5.subtitle {
  margin-bottom: 40px;
}

p.timestamp {
  color: #666666;
  margin-bottom: 40px;
}

p.quote {
  margin: auto;
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 40px;
  font-style: italic;
  color: #666666;
}

.articlebody {
  max-width: 800px;
  margin: auto;
  line-height: 2;
}

.articleimages {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.articlelist {
  max-width: 800px;
  margin: auto;
  margin-top: 230px;
}

span.firstpara {
  font-size: 18px;
}

.articlesubhead {
  margin-top: 60px;
  font-weight: 900;
  padding: 8rem;
}

h5.articlefooter {
  border-bottom: 2px solid #007aff;
  display: inline-block;
}

/*mediaqueries*/
@media only screen and (max-width: 600px) {
  .menuitem {
    font-size: 10px !important;
    margin-top: 10px;
    width: 30%;
  }
  .articleshomepage {
    padding-left: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  .articlepagelinks {
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .content {
    padding: 0rem;
  }
  .homepagearticlelink {
    text-align: left;
    margin-top: 60px;
  }
}


.logo {
  width: 100%;
}

.social {
  font-size: 12px !important;
  font-weight: 400;
  padding-right: 0px;
  margin-top: 120px;
  margin-bottom: 40px;
  text-align: center;
}

ul {
  padding: 0;
}

.row {
  padding: 0;
}

.articleshomepage {
  margin-top: 60px;
  padding-left: 8rem;
}



button.btn.info {
  font-size: 12px;
}

.col-sm-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.aboutme {
  padding: 20px;
}

.innerpage {}

.full {
  margin: 0px 20px 0px 20px;
}

.articlepagelinks {
  margin: 0px;
  margin-top: 30px;
  margin-left: 8rem;
  margin-right: 8rem;
}

h4 {
  margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
  .menuitem {
    font-size: 10px !important;
    margin-top: 10px;
    width: 30%;
  }
  .articleshomepage {
    padding-left: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  .articlepagelinks {
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .content {
    padding: 0rem;
    padding: 0rem;
    margin: 0px 20px 0px 20px;
}
  
  .homepagearticlelink {
    text-align: left;
    margin-top: 60px;
  }

}
