.topnav {
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid #f3f3f3;
  border-top: 1px solid #eaeaea;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  padding-left: 20px;
  line-height: 0;
  z-index: 1;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

  .topnav a:hover {
    background-color: #ffffff;
    color: black;
    font-weight: 400;
}

a.menuitem {
    float: right;
        color: #666666;
        font-weight:300;
}

.fab {
    font-size:20px;
}


body {
  padding-top: 6rem;
  padding-bottom:10rem;
}
@media only screen and (max-width: 600px) {
  body {
    padding-top: 1rem;
    padding-bottom:4rem;
  }
}

@media only screen and (max-width: 600px) {
  .social a {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.full {
  max-width: 60%;
  margin-top: 10rem;
  margin: auto;
  margin-left: 6rem;
  padding: 3rem;
  padding-top: 5rem;
  float: left;
}


@media only screen and (max-width: 600px) {
  .full {
      max-width: 100%;
      margin-top: 10rem;
      margin: auto;
      padding: 1.8rem;
     
      padding-top: 8rem;
  }
}






a.contactme {
  font-weight: 900;
  color: #007aff;
}

a.logo {
  font-weight: 200 !important;
  font-size: 20px !important;
}





ul.frontpage {
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 2.5;
  padding-left: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 100;
  font-family: inherit;
  margin-bottom: 30px;
}

h3 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.9rem;
}

@media only screen and (max-width: 600px) {
  h3 {
line-height: 1.5;
  }
}

h4 {
  font-weight: 900;
  font-size: 1.8rem;
  color: black;
  margin-bottom: 60px;
      line-height: 1.5;
}

h5 {
  line-height: 1.5;
}



span.taglinelinks {
  text-decoration: underline;
}

.row {
  padding: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 60px;
  padding: 0
}

.col-sm-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  margin-bottom: 20px;
  padding-left: 15px;
}

.info {
  border-color: black;
  color: black;
  padding: 20px;
  border-radius: 0;
  font-weight: bold;
  text-transform: uppercase;
}

img.logos {
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: 100px;
}
 hr {border-bottom: 1px dotted #d2d2d2;}

.section {
  margin-top: 60px;
  padding-top: 30px;

}

/*About Me*/
span.selected {
  border-bottom: 2px solid #2386fe;
  padding-bottom: 5px;
}

/*Inspirations*/
.inspi {
  line-height: 1;
}

p.inspi {
  color: #666;
  margin-bottom: 30px;
  font-size: 14px;
line-height: 1.5;
}



h4.inspirations {
  margin-bottom: 3px;
}



.bonusfact {
  text-align: left;
  background: #efefef;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 60px;
}

h5.inspi {
    color: black;
}

/*blogpost styling*/
.titleblock {    margin-top: 100px;

}

h4.black.articletitle {
  margin-bottom: 20px;
}

h5.subtitle {
  margin-bottom: 40px;
}
p {font-size:14px;
  line-height: 2;
}

p.timestamp {
  color: #666666;
  margin-bottom: 40px;
}

p.quote {
  margin: auto;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 40px;
  font-style: italic;
  color: #666666;
}

.articlebody {
  max-width: 800px;
  margin: auto;
  margin-left: 0;
  line-height: 2;
}

.articleimages {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.articlelist {
  max-width: 800px;
  margin: auto;
  margin-top: 230px;
}

span.firstpara {
  font-size: 18px;
}

.articlesubhead {
  margin-top: 60px;
  font-weight: 900;
  padding: 8rem;
  line-height: 1.5;
}

h5.articlefooter {
  border-bottom: 2px solid #007aff;
  display: inline-block;
}

.section.work {
  text-align:left;
}


h1.pageheading {
    margin-bottom: 60px;
}
.articlepagelinks {
    border-bottom: 1px dotted #d2d2d2;
    margin-top: 15px;
}
/*mediaqueries*/
@media only screen and (max-width: 600px) {
  .menuitem {
    font-size: 10px !important;
    margin-top: 10px;
    width: 30%;
  }

  .logo {
    width: 100%;
  }

  .articleshomepage {
    padding-left: 0;
    margin-left: 20px;
    margin-right: 20px;
  }


  .homepagearticlelink {
    text-align: left;
    margin-top: 60px;
  }

}


.articleshomepage {
  margin-top: 60px;
  padding-left: 8rem;
}

button.btn.info {
  font-size: 12px;
  color: black;
  background-color:white;
}

button.btn.info:hover {
  background-color:black;
  color :white;
  box-shadow: 1px 12px 13px 0px #8396ab7a;
}

.aboutme {
  padding: 20px;
}



h4 {
  margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
  .menuitem {
    font-size: 10px !important;
    margin-top: 10px;
    width: 33%;
  }

  .articleshomepage {
    padding-left: 0;
    margin-left: 20px;
    margin-right: 20px;
   margin-bottom: 40px;
  }



  .homepagearticlelink {
    text-align: left;
    margin-top: 60px;
    border-bottom:1px dotted #666666;
  }
}

.tiles{ width:100%;
}
